header{
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
}
.header{
    display: flex;
    height: 60px;
    margin-right: 5px;
    margin-left: 0px;
    background-color: #FFFFFF;
    position: relative;
    margin-top: 0px;
    width: 100vw;

}
.username{
    display: block;
    justify-content: end;
    padding-right: 20px;
    width: 100%;
}
.url{
    display: flex;
    text-decoration: none;
    color: black;
    margin-left: 20px;
    margin-top: 20px;
    font-family: 'Montserrat Regular';
}
.tour{
    display: flex;
    width: 600px;
    flex-direction: column;
    margin-top: 150px;
    align-items: center;
    margin: 0 auto;
    margin-top: 120px;
    background-color: #ffffff;
    border-radius: 20px;
    height: 800px;
}
body{
    font-family: 'Montserrat Regular';
    background-color: #f1f1f1;
}
a{
    text-decoration: none;
    color: black;
    margin: 0 auto;
}
.tour-component{
    font-size: 20px;
}
.title{
    font-size: 36px;
    margin-top: 60px;
}
