{% extends 'base.html' %}

{% block title %}
    Авторизація
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('user.static', filename = '/css/author.css' ) }}">
{% endblock %}



{% block content %}

<header>
    <a class = "home"  href="/">Головна</a>
</header>

<div class=" form-div">
    <h1 class="reg">Authorization</h1>
    <form class="form" method="post">
    
    
        <div class="center">
            <h3 class="user">Login</h3>
            <input class="input" type="text" name="username">
        </div>

        <div class="center">
            <h3 class="user">Password</h3>
            <input class="input" type="password" name="password">
        </div>

        
        <button class="button" id="login-confirm-button" type="submit">Sign in</button>
        
    </form>
</div>

{% endblock %}